
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: 'ethno';
    src: url('../fonts/ethnocentric.ttf') format('truetype');
}
@font-face {
    font-family: 'centurey';
    src: url('../fonts/p1.ttf') format('truetype');
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background: #031321;
    line-height: 1;
    font-family: 'Montserrat',sans-serif;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    margin: 0%;
    padding: 0%;
    border: 0px;
    vertical-align: baseline;
    font: inherit;
    font-family: Century Gothic;
}
/*------------------Navigation Bar css------------------S*/
header{
background: transparent;
width: 100%;
position: relative;
}
header.sticky{
    position: fixed;
    top: 0;
    left:0;
    right:0;
    transition: 0.6s;
    transform: translateY(-200%);
    z-index:5;
}
body.scroll header.sticky{
    transition: 0.3s;
    transform: translateY(0); 
}
.nav-wraper{
    box-shadow: 0 0 15px 5px black;
    border-radius:0 0 30px 30px;
    background: linear-gradient(to bottom,rgb(4, 34, 61),rgb(42, 134, 130));
max-width:1200px;
margin:0 auto;
position: relative;
padding: 3px 20px;
display: flex;
justify-content: space-between;
align-items: center;
}
ul li{
    list-style:none;
}
.listt::before{
    content: '';
    position:absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height:100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scaleY(1.5);
    opacity:0;
    transition: 0.3s;
    z-index: -1;
}
.listt:hover::before{
    transform: scaleY(1.3);
    opacity:1;
    font-size: 19px;
}
.listt::after{
    content: '';
    position: absolute;
    left:0%;
    width: 100%;
    height:110%;
    background: #03e9f4;
    transform: scaleX(0);
    opacity:0;
    transition: 0.3s ease-out;
    z-index:-1;
}
.listt:hover::after{
    transform: scaleX(1);
    opacity:1;
    font-size: 19px;
    color: black;
}
/*ansdnasnas*/
nav ul li{
    z-index:1;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
}
nav ul li a{
    text-decoration: none;
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}
nav ul .listt:hover{
    box-shadow: 0 0 5px #03e9f4,
    0 0 20px #03e9f4,
    0 0 20px #03e9f4,
    0 0 20px #03e9f4;
}
nav ul li:hover #n1{
    font-size: 19px;
    font-weight: 800;
    text-decoration: none;
    color: rgb(4, 34, 61);
}
.movie{
    margin-left: -20px;
    margin-top: 4px;
    display: none;
   
    height: 0;
    transition: 0.8s ease-in-out;
}
.listt:hover .movie{
    transition: 0.8s ease-in-out;
    position: absolute;
    display: block;
    height: auto;
}
.movie-item{
    margin: 0;
    border-radius: 8px;
    color: white;
    padding: 0;
    float: left;
    width: 150px;
    height: inherit;
    background: black;
    text-align: center;
    line-height: 40px;
    display: block;
}
.movie li{
    background: rgba(0,0,0,0.9);
}
.movie li a{
    text-decoration: none;
    color: white;
}
.movie li:hover{
    z-index: 2;
    box-shadow: 0 0 5px #03e9f4,
    0 0 20px #03e9f4,
    0 0 20px #03e9f4,
    0 0 20px #03e9f4;
    background: rgba(0, 0,0, 1);
}
#logo{
   max-width:90px;
   transition: 0.5s; 
   mask-image: linear-gradient(white,black);
}
#logo:hover{
    cursor: pointer;
    transform: rotate(180deg);
 }
 .home-btns a{
     text-decoration: none;
 }
.wrapper{
    padding-top: 30px;
    padding-bottom: 100px;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}
.main-top{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
}
.main-top h1{
    font-size: 40px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    font-weight: 700;
}
.login_btn{
    margin-top: -5px;
    padding:7px 20px;
    border-radius: 30px;
    text-decoration: none;
}
/* Parallar styling */
.cover-main{
    /* background:linear-gradient(rgba(0, 0,0, 0.5),rgba(0, 0,0, 0.5)), url("../images/cover.jpg"), right bottom; */
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
ul#scene li.name{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: white;
    width: 100%;
}
ul#scene li.title{
    text-align: center;
    width: 100%;    
    margin-top: 50px;
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    color:  white;
}
ul#scene{
    margin-top: 100px;
}
.info{
    margin-top: -5px;
    position: relative;
    margin-left: -60px;
    padding-top: 10px;
}
#usericon{
    width:20px;
    height:20px;
}
.user{
    
    border-radius: 30px;
}
.user_info:hover .movie{
    transition: 0.8s ease-in-out;
        position: absolute;
        display: block;
        height: auto;
}
.btn{
    text-decoration: none;
    margin-top: 150px;
    width:100%;
    text-align: center
}
.contact-btn{

    margin: 0 auto;
    display: inline;
    padding: 10px 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    transition: 0.3s;
    text-decoration: none;
}
/* #bp{
  width: 90vw;
} */

.pf-btn{

    margin: 0 auto;
    display: inline;
    padding: 10px 30px;
    border: 1px solid white;
    background: transparent;
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

.pf-btn:hover,.contact-btn:hover {
    background: white;
    color: dodgerblue;
    font-size: 18px;
    font-style: bold;
}
/* Footer */
footer{
    position: relative;
    z-index: -2;
    height:150px;
    background: black;
    color: white;
    text-align: center;
}
footer h1{
    position: fixed;
    font-size: 20x;
    line-height: 25px;
    color: white;
    font-weight: bold;
    text-align:center;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}
#result {
    margin-top: 10px;
    transition:0.8s ease-in-out;
    display: subgrid;
    position: absolute;
    border-radius: 10px;
    width: 90%;
    color: white;
    max-width:1000px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: inherit;
    transition-delay: .6s;
    height:0; 
   }
   #result::-webkit-scrollbar {
    display: none;
  }
  #result:hover{
    height:100%;
  }  
   #result li{
    background: rgba(0,0,0,0.9);
    margin-top: 3px;
    padding:5px;
    display:flex;
    justify-content:space-around;
    z-index:1000;
   }
   #result li:hover{
       z-index: 2;
       border-radius: 10px;
       background: rgba(0,0,0,1);
       box-shadow: 0 0 5px #03e9f4,
        0 0 20px #03e9f4,
        0 0 20px #03e9f4,
        0 0 20px #03e9f4;
   }
   #result li span{
        padding-top:25%;
        justify-content:center;
        padding-left: 10px;
   }
   #result li h1{
        color: white;
   }

   /*--------- Font settings--------- */
   
  #custom-font{
    font-family: 'ethno',sans-serif;
    animation: glow 2.5s ease-in-out infinite ;
  }
  .w1{
      overflow:hidden;
    }
    @keyframes glow {
        0% {
            
        }
        15%{
            text-shadow: 0 0 5px #03e9f4,
            0 0 20px #03e9f4,
            0 0 20px #03e9f4,
            0 0 20px #03e9f4;
        }
        20%{
            text-shadow:none;
        }
        25% {
            text-shadow: 0 0 5px #03e9f4,
            0 0 20px #03e9f4,
            0 0 20px #03e9f4,
            0 0 20px #03e9f4;
        }
        100%{
            text-shadow: none;
        }
      }

    #movies{
        padding:50px 0;
    }
    .c-down{
      font-family: 'ethno';
      font-size: 30px;
      color: orange;
      padding-bottom: 10px;
      padding-left: 5px;
      border-radius: 15px;
      width: 100%;
    }
    .m-div{
        padding-bottom:50px;
        padding-top: 10px;
    }
    .error-div{
        z-index: 2;
        margin-top: 110px;
        width: 80%;
        position: absolute;
        margin-left: 150px;
    }
    
    /* 404 Page settings */

    .mcc{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .txt-wraper{    
        text-align: center; 
        animation: fire-flies 4s linear infinite;  
    }
    .primary-t,.secondry-t{
        display: block;
        font-family: 'ethno';
        animation: Glowy 4s linear infinite;
    }
    .primary-t{
        font-size: 140px;
    }
    .secondry-t{
        font-size: 30px;
    }
    @keyframes Glowy{
        0%{
            color: white;
        }
        25%{
            color: white;
        }
        40%{
            color:orangered ;
        }
        60%{
            color:orangered ;
        }
        75%{
            color: white;
        }
        100%{
            color: white;
        }
    }
    @keyframes fire-flies{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.4);
        }
        100%{
            transform: scale(1);
        }
    }
    .user_thumb{
        object-fit: cover;
        width: 40px;
        height: 40px;
        border-radius: 50px;

    }

/* Footer */
#footer{
    text-align: center;
    background:linear-gradient(to bottom,rgb(3, 19, 33),rgb(42, 134, 130)) ;
    border-radius: 10px;
}
.copywrite-txt{
    position: absolute;
    margin-bottom: -30px;
    text-align: center;
}
.icon-div{
 padding-top: 50px;
}
#footer .ixon{
    font-size: 40px !important;
    animation: ramzy 10s ease-in-out infinite ;
}

#footer .ixon:hover{
    color: orangered !important;
}
@keyframes ramzy{
    0%{
        transform: rotate(0deg);
    }
    2%{
        transform: rotate(25deg);
    }
    4%{
        transform: rotate(0deg);
    }
    7%{
        transform: rotate(35deg);
    }
    10%{
        transform: rotate(45deg);
    }
    20%{
        transform: translate(1000px);
    }
    22%{
        opacity: 1;    
    }
    22.5%{
        opacity: 0;
    }
    30%{
        transform: translate(-1000px);
        opacity: 0;
        
    }
    45%{
        transform: translate(0);
        opacity: 1;
    }
}

/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;-*/
@media only screen and (max-width: 690px){
    .menu-trigger{
        width: 35px;
        height: 35px;
        display: block;
        z-index: 10;
        position: absolute;
        right: 10px;
        top: 15px;

    }
    .txt-wraper{
        animation: none;
    }
    .primary-t,.secondry-t{
        animation: none;
    }
    .primary-t{
        font-size: 70px;
    }
    .secondry-t{
        font-size: 30px;
    }
    #list-item1 img:last-of-type,
    #list-item2 img:last-of-type,
    #list-item3 img:last-of-type{
        display: none;
    }
    .c-down{
        text-align: center;
        font-size: 25px;
    }
    #result{
        transform: rotate(-90deg);
        transform-origin:right top;
        margin-top: 10px;
        margin-left: -200px;
        width: 45%;
        max-height: 360px;
        padding-left: 30px;
        padding-bottom: 30px;    
    }
    .search-res-txt{
        display: none;
    }
    #result li{
        transform: rotate(90deg);
        transform-origin: right top;
        background: rgba(50,19,33,1);
        padding: 0 20px;
        padding-bottom: 5px;
        margin: 0;
    }
    .text-muted{
        display: none;
    }
    nav ul .listt:hover{
        box-shadow:none;
    }
    nav ul li:hover #n1{
        font-size: 19px;
        font-weight: 700;
        text-decoration: none;
        color: orangered;
    }
    .listt{
        padding: 5px;
        padding-left: 20px;
        width: 35%;
    }
    .movie{
        margin-left:30px;
        margin-top: 4px;   
        height: 0;
        transition: 0.8s ease-in-out;
    }
    .listt:hover .movie{
        transition: 0.8s ease-in-out;
        position: inherit;
        display: block;
        height: auto;
    }
    .listt::after{
        background: none;
    }
    .listt::before{
        height: 0;
        width: 0;
        border-top:0;
        border-bottom: 0;
    }
    .main-overlay{
        position: fixed;
        top: 0;
        right:0;
        left: 0;
        bottom: 0;
        background:rgba(0,0,0,0.7);
        z-index: 5;
        display: block;
    }
    .main-overlay::after{
        font-family: FontAwesome;
        width: 35px;
        height:35px;
        color: white;
        font-size: 40px;
        padding: 10px;
        font-weight: 800;
        display: block;
        content:"\f410";
        position: fixed;
        right: 10px;
        top: 15px;
        z-index:20;
    }

       #result li:hover{
           z-index: 2;
           border-radius: 10px;
           background: rgba(0,0,0,1);
           box-shadow: 0 0 5px #03e9f4,
            0 0 20px #03e9f4,
            0 0 20px #03e9f4,
            0 0 20px #03e9f4;
       }
       .error-div{
        margin-left: 60px;
    }

    .user_info{
        width:10%;
        margin-right: 15px;
        margin-left: auto;
    }
    .user .movie{
        padding-bottom: 10px;
    }
    .user_info:hover .movie{
        margin-left: -60px;
    }
    .login_btn{
        margin-left: -65px;
        width: 100px;
    }
    #custom-font{
        font-family: 'ethno',sans-serif;
        animation:none ;
        font-size: 30px;
        line-height: normal;
      }
      .footer-ul{
          padding-top: 20px;
          animation: none;
      }
      .copywrite-txt{
        margin-bottom: 0px;
      }
      #footer .ixon{
        animation: none;
      }
      .icon-div{
          padding-top: 0;
      }
    
  
}