<section class="container m-wrapper" id="">
    <h2 class="about-developers" id="about-sub-title">Have any Question?</h2>
    <p class="sub-para">Feel free to ask any questions regarding any movie or any
        errors that you encountered it will be very helpful for the properly functionality of our website </p>
    <div class="row">
        <div class="col-md-6 btn-col ">
            <a href="https://www.facebook.com/" class=" btn-primary m-btn m-auto" target="_blank">Facebook</a>
            <a href="https://mail.google.com/" class=" btn-warning m-btn m-auto" target="_blank">Gmail</a>
            <a href="https://www.instagram.com/" class=" btn-success m-btn m-auto" target="_blank">Instagram</a>
        </div>
        <div class="sub-cont col-md-6 col-xs-12">
            <div class=" mm-container">
                <form action="/contact-info" method="POST" class="" id="contact-form">
                    <div class="row">
                        <div class="col">
                            <input class="form-control f-name" type="text" name="first_name" placeholder="First Name"
                                required>
                        </div>
                        <div class="col">
                            <input class="form-control l-name" type="text" name="last_name" placeholder="Last Name"
                                required>
                        </div>
                    </div><br>
                    <input class="form-control email" type="email" name="email" placeholder="Email" required><br>
                    <input class="form-control subject" type="text" name="subject" placeholder="Subject" required><br>
                    <textarea class="form-control msg" name="message" rows="10" cols="30" placeholder="Message"
                        required></textarea><br>
                    <input class="form-control s-btn" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</section>