<footer id="footer">
  <div class="icon-div">
    <i class="fab fa-facebook ixon"></i>
    <i class="fab fa-google-plus ixon"></i>
    <i class="fab fa-instagram ixon"></i>
  </div>
  <h1 class="copywrite-txt"><em>Copywrite</em> ® under Newbies Protection😎</h1>
</footer>