<!------------ Sign up Form --------->

<div class="m-container">
    <div class="container s-container">
        <div style="height: 20px;">
            <i onclick="hidesignupform()" class="fa fa-times c-icon"></i>
        </div>
        <form action="/insert" method="POST" class="" id="Sign-up" enctype="multipart/form-data">
            <div class="row form-row">
                <div class="col-md-5 col-sm-3 sel_pic">
                    <input class="form-control-file select_img" type="file" name="profile_pic" id="" required>
                </div>
                <div class="col colum2">
                    <h2 class="form_title">
                        Complete the Following Fields for Registration
                    </h2>
                    <div style="padding: 0;" class="row fl_info no-gutters">
                        <div class="col col11">
                            <input class="form-control first_name" type="text" name="first_name"
                                placeholder="First Name" required autocomplete="off">
                        </div>
                        <div class="col">
                            <input class="form-control last_name" type="text" name="last_name" placeholder="Last Name"
                                required autocomplete="off">
                        </div>
                    </div>
                    <input class="form-control email" type="email" name="email" placeholder="Email Address" required>
                    <input class="form-control user_name" type="text" name="user_name" placeholder="User Name" required
                        autocomplete="off" minlength="6">
                    <input class="form-control password_name" type="password" name="user_password"
                        placeholder="Password  must include    A-Z,a-z,1-9,*-@" required autocomplete="off"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}">
                    <input class="form-control s-btn" type="submit" value="Submit" autocomplete="off">
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>

<!--------------- End  ---------------->